h1 {
    text-align: center;
    font-size: 1.9rem;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

nav {
    margin-bottom: 50px;
    background: #99b898;
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
}

.btn {
    margin: 20px auto 5px auto;
}

.correct {
    background: #81b214;
}

.incorrect {
    background: #cd0a0a;
}

.hide {
    display: none;
}

.questionBox {
    margin: auto;
    width: 55%;
    height: 500px;
    border: solid 1px #3b3b3b;
    background: #99b898;
}

#begin {
    text-align: center;
}

#countdown {
    text-align: center;
    font-weight: bold;
}