body {
    background: #463333;
}

h1 {
    color: #ebd4d4;
    text-align: center;
    margin-top: 50px;
    font-size: 1.9rem;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2, h3, h4 {
    color: #fff0f0;
}

.btn {
    margin: 20px auto 5px auto;
}

.correct {
    background: #81b214;
}

.incorrect {
    background: #cd0a0a;
}

.hide {
    display: none;
}

.questionBox {
    margin: auto;
    width: 40%;
    height: 600px;
    border: solid 1px #fff0f0;
    background: #835858;
}

#begin {
    text-align: center;
}

#countdown {
    margin: 50px 0 30px 0;
    text-align: center;
    font-weight: bold;
    height: 50px;
    color: #fff0f0;
}