body {
    font-family: 'Archivo Narrow', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.9rem;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

a {
    color: #335d2d;
}

nav {
    margin-bottom: 50px;
    background: #99b898;
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
}

.answer {
    font-family: 'Titillium Web', sans-serif;
}

.btn {
    margin: 20px auto 5px auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #99b898;
    text-align: center;
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
}

.fab {
    margin: 8px 3px 0 0;
    text-align: center;
}

a:hover {
    color: #557571;
}

.hide {
    display: none;
}

.questionBox {
    margin: auto;
    width: 55%;
    height: 500px;
    border: solid 1px #3b3b3b;
    background: #99b898;
}

#questionField {
    font-size: 1.9rem;
}

#currentScore {
    font-size: 1.3rem;
}

#begin {
    text-align: center;
}

#countdown {
    text-align: center;
    font-weight: bold;
}